.main-navbar {
    margin-bottom: 50px;
}

p {
    padding: 0;
}

.image-book {
    width: 100px;
    height: 150px;
    margin-left: 15px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    width: auto;
    height: 80px;
}

.books {
    display: flex;
    flex-wrap: wrap;
}

.list-group-item {
    padding: 0.3rem 0.5rem;
}

.col-4 {
    max-width: 30%;
}

h6 {
    font-size: 80%;
}

.badge {
    color: white;
}